body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    height: 20%;
    width: 20%;
}
.background-icon {
    width: 100%;
    min-height: 100vh;
    background-image: url("PngFiles/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;