body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 1000vh;
    scroll-behavior: smooth;
    background-image: url("PngFiles/background.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
}
.header{
    height: auto;
    width: 90vw;
    display: block;
    margin: 5%;
}
.header img{
    display: block;
    width: 100%;
    height: auto;
}
